* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* CSS phần header */
.header {
  background-color: black;
  padding: 20px 0;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}
.header-menu-1 ul {
  display: flex;
}
.header-menu-1 ul li {
  list-style: none;
  padding-right: 25px;
}
.header-menu-1 ul li a {
  text-decoration: none;
  color: white;
}
.header-menu-2 ul {
  display: flex;
}
.header-menu-2 ul li {
  list-style: none;
  padding-left: 25px;
}

.header-menu-2 ul li i {
  color: white;
}

/* css phan nav */
.nav-menu {
  display: flex;
  padding: 30px 0;
  align-items: center;
}
.nav-menu ul li {
  list-style: none;
}
.nav-menu ul li a {
  text-decoration: none;
  color: black;
}
.nav-menu ul {
  display: flex;
}
.nav-menu p {
  width: 40%;
  font-size: 30px;
}
.nav-menu .menu-product {
  width: 40%;
  justify-content: space-around;
}
.nav-menu .menu-icon {
  width: 20%;
  justify-content: flex-end;
}
.nav-menu .menu-icon li {
  padding-left: 20px;
}

/* css cho phần .product-content */
.box-2 {
  padding-bottom: 50px;
}
.product-content div img {
  width: 100%;
}
.content-description {
  max-width: 700px;
  margin: 0 auto;
}
.content-description ul {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.content-description ul li {
  margin: 0 5px;
  list-style: none;
  width: 15px;
  height: 15px;
  background-color: grey;
  border-radius: 100%;
}
.content-description h6 {
  padding: 15px 0 10px 0;
  color: rgb(109, 108, 108);
}
.content-description h4 {
  font-size: 30px;
  padding: 10px 0;
}
.content-description p {
  padding: 10px 0;
}
.content-description span {
  color: rgb(101, 101, 101);
  padding: 10px 0;
}

/* CSS cho phần box-3 */
.box-3 {
  background-color: rgb(239, 239, 239);
  padding: 40px 0;
}
.product-hunt {
  display: flex;
  justify-content: space-between;
}
.product-1 {
  width: 24%;
}
.product-1 img {
  width: 100%;
}
.product-1 h6 {
  padding: 15px 0 10px 0;
  color: rgb(109, 108, 108);
}
.product-1 h4 {
  font-size: 20px;
  padding: 10px 0;
}
.product-1 span {
  color: rgb(101, 101, 101);
  padding: 10px 0;
}

/* CSS cho phần latestpost */

.product-2 {
  width: 32.3333%;
}
.product-2 img {
  width: 100%;
}
.product-2 h6 {
  padding: 15px 0 10px 0;
  color: rgb(109, 108, 108);
}
.product-2 h4 {
  font-size: 20px;
  padding: 10px 0;
}
.product-2 span {
  color: rgb(101, 101, 101);
  padding: 10px 0;
}

.latestpost-content {
  padding: 40px 0;
}
.latestpost {
  display: flex;
  justify-content: space-between;
}
.latestpost-menu-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.latestpost-menu-content ul li {
  list-style: none;
}
/* css phan footer */
.footer {
  background-color: black;
  padding: 80px 0;
}
.footer-menu {
  display: flex;
}
.footer-menu ul li {
  list-style: none;
}
.footer-menu-1 {
  width: 25%;
  color: white;
}

.menu-first {
  padding-right: 20px;
}
.menu-first div {
  font-size: 25px;
  padding: 10px 0;
}
.menu-first div span {
  font-weight: bold;
}
.footer-menu-1 p {
  padding: 10px 0;
}
.footer-menu-1 ul li {
  padding: 5px 0;
  color: rgb(221, 219, 219);
}

/* reponsive */
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  /* phần header */
  .header {
    display: none;
  }

  /* phan nav */
  .box-1 {
    display: none;
  }
  .content-description {
    padding: 0 5px;
  }
  /* phan ss box-3 */
  .product-hunt {
    flex-direction: column;
  }
  .product-hunt .product-1 {
    width: 100%;
  }
  /* phan ss box-4 */
  .latestpost-menu-content {
    flex-direction: column;
  }
  .latestpost {
    flex-direction: column;
  }
  .latestpost .product-2 {
    width: 100%;
  }
  /* phan footer */
  .footer {
    padding: 5px 0;
  }
  .footer-menu {
    flex-direction: column;
    padding: 10px;
  }
}
